<ion-content>
  <div class="flex-center">
      <ion-card  class="logincard"style=>

        <ion-row style="justify-content:center;">  

          <ion-img src="assets/images/logo.png" class="mlogo">Materio</ion-img>

          <ion-card-title class="mtitle">Materio</ion-card-title>

        </ion-row>  

        <ion-card-content>


          <ion-card-title class="mct">Forgot Password</ion-card-title>

          <ion-card-subtitle class="mst">Enter your email and we'll send you instructions to reset your password</ion-card-subtitle>
          
          <ion-input placeholder="Email" class="itemail" type="text"></ion-input>


          <ion-button expand="block" class="loginbtn" color="purple" style="margin-top: 15px;">Submit</ion-button>

          <ion-row style="margin-top: 15px;">

            <ion-col>
              <div class="rgstr"><a href=""><i class="fa-solid fa-chevron-left">&nbsp;&nbsp;&nbsp;</i>Back to login</a></div>
            </ion-col>

          </ion-row>

        </ion-card-content>
        
      </ion-card>

  </div>
</ion-content>
