.mlogo{
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
    height: 27.34px;
    width: 35px;
    left: 0px;
    top: 0px;
    border-radius: 0px;

}
.mtitle{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.272727px;
    color: rgba(58, 53, 65, 0.87);
    flex: none;
    order: 1;
    flex-grow: 0;
    text-align: center;
    padding-bottom: 40px;

}

.mct{
    position: static;
    width: 394px;
    height: 38px;
    left: calc(50% - 394px/2 + 22.5px);
    top: calc(50% - 38px/2 - 32px);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.18px;
    color: rgba(58, 53, 65, 0.87);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;

}

.mst{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.68);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.itemail{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(58, 53, 65, 0.23);
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 15px;
}
.itpass{
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    left: 0px;
    top: 0px;
    border: 1px solid rgba(58, 53, 65, 0.23);
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 15px;
}
.loginbtn{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    border-radius: 5px;
}
.frgtpw{
    flex: none;
    order: 1;
    flex-grow: 1;
    margin: 0px 0px;
    text-align: right;
    letter-spacing: 0.15px;
}

.frgtpw a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #804BDF;
    text-decoration: none;
}
.frgtpw a:hover{
    color: #2b1950;
}
.rgstr a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #804BDF;
    text-decoration: none;
}
.rgstr a:hover{
    color: #2b1950;
}
.rgstr{
    text-align: center;
}
.sugst{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.68);
    flex: none;
    margin: 0px 0px;
}
.rembr{
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    color: rgba(58, 53, 65, 0.87);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.15px;
    text-align: right;
}
.chkbk{
    left: 12.5%;
    right: 12.5%;
    top: 12.5%;
    bottom: 12.5%;
    background: rgba(58, 53, 65, 0.68);
}
.mdvdr{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.15px;
    color: rgba(58, 53, 65, 0.87);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;
}
.smic{
    text-align: center;
    margin-top: 10px;
}
.logincard{
    background-color: transparent;
    box-shadow: none;
    width: 350px;
    height: 80vh;
}