<ion-header>

  <ion-toolbar>
    <ion-buttons slot="primary" style="color:#4F4F4F;">
      <ion-button href="/main">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-img src="assets/images/logo.png" class="mlogo">Materio</ion-img>

  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="flex-center2">
    <div class="" style="width: 100vh;height: 120vh;">

        <ion-row>
          <ion-col class="settingslabel">Settings</ion-col>
        </ion-row>
        
        <ion-list style="margin-top: 20px;">

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="person-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Notifications</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="reader-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Activity History</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="scan-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Activate Face ID</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-toggle class="tglbtn" color="purple" checked></ion-toggle>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="person-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Account Profile</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="reader-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Privacy Policy</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="reader-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Terms & Conditions</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <i class="fa-solid fa-headset fanaviicon"></i>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Help</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="log-out-outline" class="fanaviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Logout</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>





        </ion-list>

      </div>

  </div>
</ion-content>
