<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start" style="color:#4F4F4F;">
      <ion-button href="/main">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center mp">my profile</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="flex-center2">
    <div class="" style="width: 100vh;height: 120vh;">

        <ion-row>
          <ion-col>
          </ion-col>

          <ion-col class="ion-text-center">
            <img class="profilepic" src="../assets/images/profilepic.png" />
            <ion-icon name="camera-outline" class="up"></ion-icon>
          </ion-col>

          <ion-col>
          </ion-col>
        </ion-row>
        

        <ion-row>
          <ion-col class="ion-text-left">
            <p class="namesection">Name</p>
          </ion-col>

          <ion-col class="ion-text-right">
            <ion-icon name="create-outline" class="edit"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-list style="margin-top: -15px;">
          <ion-item>
            <ion-label>
              <p class="firstnamelabel">First Name</p>
              <p class="firstname">Michael</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="lastnamelabel">Last Name</p>
              <p class="lastname">Collins</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-row>
          <ion-col class="ion-text-left">
            <p class="contactsection">Contact Details</p>
          </ion-col>

          <ion-col class="ion-text-right">
            <ion-icon name="create-outline" class="edit"></ion-icon>
          </ion-col>
        </ion-row>
        
        <ion-list style="margin-top: -15px;">
          <ion-item>
            <ion-label>
              <p class="mobilenumlabel">Mobile</p>
              <p class="mobilenum">702.897.9746</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="emaillabel">Email</p>
              <p class="emailadd">anna12rose@yahoo.com</p>
            </ion-label>
          </ion-item>
        </ion-list>
        
        <ion-row>
          <ion-col class="ion-text-left">
            <p class="addresssection">Address</p>
          </ion-col>

          <ion-col class="ion-text-right">
            <ion-icon name="create-outline" class="edit"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-list style="margin-top: -15px;">
          <ion-item>
            <ion-label>
              <p class="streetaddlabel">Street Address</p>
              <p class="streetadd">12 Manhattan St.</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="appunitlabel">App/Unit</p>
              <p class="appunit">Suite 200 1700 w, Horizon Ridge</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="citylabel">City</p>
              <p class="city">Henderson</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="statelabel">State</p>
              <p class="state">Las Vegas</p>
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label>
              <p class="ziplabel">Zip</p>
              <p class="zip">89012</p>
            </ion-label>
          </ion-item>

            <div style="margin-top: 40px;">

            </div>

          <ion-item detail="false" href="/changepassword">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="eye-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">Change Password</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="/friends">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="people-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">My Friends</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>

          <ion-item detail="false" href="">
            <ion-label>
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="card-outline" class="naviicon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="ion-text-left" style="color: black;">
                    <p class="navilabel">My Cards</p>
                </ion-col>
                <ion-col size="8" class="ion-text-right">
                  <ion-icon name="arrow-forward-outline" class="naviarrow"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>



        </ion-list>

      </div>

  </div>
</ion-content>
