<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button> <ion-icon name="arrow-back-outline" class="bb"></ion-icon> </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-center mp">my Friends</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div class="flex-center2">
    <div class="" style="width: 100vh;height: 120vh;">

      <ion-item lines="none">
        
        <ion-input class="srchfr" placeholder="Search">
          <ion-icon class="sicon" name="search-outline" slot="inside" style="color: black;">
          </ion-icon>
        </ion-input>
          
      </ion-item>

      <ion-list>

        <ion-item detail="false" href="">
          <ion-label>
            <ion-row>
              <ion-col size="2">
                <ion-icon name="add-outline" class="addicon"></ion-icon>
              </ion-col>
              <ion-col size="8" class="ion-text-left" style="color: black;">
                  <p class="addfrlabel">Add a Friend</p>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>

        <ion-item  class="transactionlayout">
          <ion-avatar slot="start" class="userpfp">
            <img src="../assets/images/alfred.png" />
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col class="ion-text-left frname">
                Alfred Vargas
              </ion-col>
            </ion-row> 
            <p class="frmail">fredvargas@gmail.com</p>
          </ion-label>
        </ion-item>

        <ion-item  class="transactionlayout">
          <ion-avatar slot="start" class="userpfp">
            <img src="../assets/images/michelle.png" />
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col class="ion-text-left frname">
                Michelle Lin
              </ion-col>
            </ion-row> 
            <p class="frmail">michlin@gmail.com</p>
          </ion-label>
        </ion-item>

        <ion-item  class="transactionlayout">
          <ion-avatar slot="start" class="userpfp">
            <img src="../assets/images/arnold.png" />
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col class="ion-text-left frname">
                Arnold Rufos
              </ion-col>
            </ion-row> 
            <p class="frmail">fredvargas@gmail.com</p>
          </ion-label>
        </ion-item>

        <ion-item  class="transactionlayout">
          <ion-avatar slot="start" class="userpfp">
            <img src="../assets/images/Dennis.png" />
          </ion-avatar>
          <ion-label>
            <ion-row>
              <ion-col class="ion-text-left frname">
                Dennis Clyde
              </ion-col>
            </ion-row> 
            <p class="frmail">superclyde@yahoo.com</p>
          </ion-label>
        </ion-item>

      
      </ion-list>

      
    
    </div>

  </div>
</ion-content>
