<ion-content>
  <div class="flex-center">
      <ion-card  class="logincard">

        <ion-row style="justify-content:center;">  

          <ion-img src="assets/images/logo.png" class="mlogo">Materio</ion-img>

          <ion-card-title class="mtitle">Materio</ion-card-title>

        </ion-row>  

        <ion-card-content>


          <ion-card-title class="mct">Welcome!</ion-card-title>

          <ion-card-subtitle class="mst">Please sign-in to your account and start the adventure</ion-card-subtitle>
          
          <ion-input placeholder="Email" class="itemail" type="text"></ion-input>
          
          <ion-input placeholder="Password" class="itpass" type="password"></ion-input>

          <ion-row>

            <ion-col>
              <div><input class="form-check-input chkbk" type="checkbox" style="margin-left: 10px;"><span class="rembr" style="margin-left: 10px;">Remember me</span></div>
            </ion-col>

            <ion-col>
              <div class="frgtpw"><a href="">Forgot Password?</a></div>
            </ion-col>

          </ion-row>

          <ion-button expand="block" class="loginbtn" color="purple" style="margin-top: 15px;">Login</ion-button>

          <ion-row style="margin-top: 15px;">

            <ion-col>
              <div class="sugst">New on our platform?  <span class="rgstr"><a href="">Create an account</a></span> </div>
            </ion-col>

          </ion-row>

          <ion-row>

            <ion-col>
              <div class="ldvdr"><hr></div>
            </ion-col>

            <ion-col>
              
              <div class="mdvdr">or</div>

            </ion-col>

            <ion-col>

              <div class="rdvdr"><hr></div>

            </ion-col>

          </ion-row>

          <ion-row> 

            <ion-col class="smic">
              <i class="fab fa-facebook-f"></i>&nbsp;&nbsp;&nbsp;
              <i class="fab fa-twitter"></i>&nbsp;&nbsp;&nbsp;
              <i class="fab fa-github"></i>&nbsp;&nbsp;&nbsp;
              <i class="fab fa-google"></i>
            </ion-col>

          </ion-row>

        </ion-card-content>
        
      </ion-card>

  </div>
</ion-content>
